
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(43, 36, 134);
    min-height: 100vh;
    width: 800px;
    color: white;
    border-radius: 40px;

  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(43, 36, 134);
  }
  .input, #btn2 {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #cdf3a2;
    padding: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #input:focus {
    background-color: #fff;
  }
  #whenWhere {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #city {
    color: white;
    font-size: 40px;
  }
  #date {
    color: white;
    font-size: 24px;
  }
  .now{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .temp{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .feels {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  .info{
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
  }
  #cloud{
      display:flex ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .wind{
      display:flex ;
      flex-direction: row;
      justify-content: center;
      align-items:center
  }
  .quotes{
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  h1{
padding: 10px;  }
 
  
  
  